importFrom("VGAM","vgam","cennormal")

import("methods")
import("grid")
import("MASS")
import("lattice")
import("multcomp")
import("nlme")
import("survival")
import("Hmisc")


export("prepare", "prepareCGOneFactorData",
	   "prepareCGPairedDifferenceData",
       "comparisons", "comparisonsgraph","errorbargraph",
       "factorInSeq"	
)

exportMethods(
    "comparisonsGraph",
    "comparisonsTable",
	"correlationTable",
    "descriptiveTable",
	"diffGraph",
    "downweightedTable",
    "errorBarGraph",
    "fit",
    "globalTest",
    "grpSummaryTable",
    "kmGraph",
    "pointGraph",
	"profileGraph",
    "qqGraph",
    "samplesizeGraph",
    "samplesizeTable",
    "showObj",
    "varianceGraph",
	"varianceTable"
)

exportPattern("print[.*]",
              "show[.*]",
			  "summary[.*]",
              "boxplot[.*]",
			  "diffGraph[.*]",
              "comparisonsGraph[.*]",
              "comparisonsTable[.*]",
			  "correlationTable[.*]",
              "descriptiveTable[.*]",
              "diffGraph[.*]",
              "downweightedTable[.*]",
              "errorBarGraph[.*]",
			  "fit[.*]",
              "globalTest[.*]",
              "grpSummaryTable[.*]",
              "kmGraph[.*]",
              "pointGraph[.*]",
			  "profileGraph[.*]",
              "qqGraph[.*]",
              "samplesizeGraph[.*]",
              "samplesizeTable[.*]",
			  "showObj[.*]",
			  "varianceGraph[.*]",
			  "varianceTable[.*]"			  
)

exportClasses("olsfit","rrfit","aftfit","uvfit",
     "numericOrNULL","dataframeMatrixOrNULL",
     "dataframeOrNULL","characterOrNULL","characterOrExpression",
     "cgOneFactorComparisonsTable",
     "cgOneFactorData",
     "cgOneFactorDescriptiveTable",
     "cgOneFactorDownweightedTable",
     "cgOneFactorFit",
     "cgOneFactorGlobalTest",
     "cgOneFactorGrpSummaryTable",
     "cgOneFactorSampleSizeTable",
     "cgOneFactorSampleSizeTable" ,
     "cgPairedDifferenceComparisonsTable",
     "cgPairedDifferenceCorrelationTable",
     "cgPairedDifferenceData",
     "cgPairedDifferenceDescriptiveTable",
     "cgPairedDifferenceDownweightedTable" ,
     "cgPairedDifferenceFit",
     "cgPairedDifferenceSampleSizeTable",
     "cgPairedDifferenceVarianceTable"	 
)
